html {
	position: relative;
	min-height: 100%;
}
body {
	width: 1500px;
	max-width: 2200px;
	max-height: 100%;
	margin: 0 0 150px;
	background: url("../image/mainBackgroundCloud.jpg") no-repeat;
	font-size: 100%;
}
.main {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.footer {
	margin: 0 auto;
	height: 200px;
	width: 960px; /* для подвала */
}
.header, .header__nav_container {
	height: 337px;
    width: 100%;
}

/*center alignment of the container*/
.header__nav_container {
	width: 645px;
	padding: 0;
	margin: 0 auto;
}
/*navigation style */

.list_navigation {
	padding: 0;
}
.list_navigation li {
	display: inline-block;
	font-family: RBNo2 Light, serif;
	font-size: 1.5em;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 10px;
}
.point__list {
	color: #adadac;
}
/*activisation archor navigation style*/

.archor_navigation {
	text-decoration: none;
}
.archor_navigation:link {
	color: black;
}
.archor_navigation:visited {
	color: black;
}
.archor_navigation:active {
	color: black;
	text-shadow: 2px 4px 2px grey;
}

/*styles for main logo */

.container__main_logo {
	height: 187px;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
.text__main_logo_1 {
	font-family: TrajanPro-Regular, serif;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 18px;
	letter-spacing: 4px;
	vertical-align: middle;
}
.text__main_logo_1 span {
	font-size: 0.5em;
	vertical-align: 4px;
}
.text__main_logo_2 {
	font-family: TrajanPro-Regular, serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.image__main_logo {
	opacity: 0.79;
}

/* 
style description of the sity */

.descrip_text_block {
	font-family: Calibri, serif;
	font-size: 1.2em;
	width: 758px;
	margin: 70px auto 0 auto;
}
.descrip_text_block .descrip_text {
	text-align: center;
}

/*forming 3 columns*/

.conteiner__articles, .additional_news__container {
	width: 960px;
	height: 700px;
	margin: 70px auto 0 auto;
}

.block__column_1, .block__column_2, .block__column_3 {
    width: 300px;
    height: 700px;
    float: left;
}
.block__column_1 {
	margin-right: 15px;
}
.block__column_2 {
	margin-right: 15px;
	margin-left: 15px;
}
.block__column_3 {
	margin-left: 15px;
}
/*style hr*/

.underBlock {
	color: #808080;
}
/*style paragraph column*/
 
.subtitle_column_1, .subtitle_column_2,
 .subtitle_column_3 {
 	font-family: TrajanPro, serif;
 	font-size: 1.1em;
 	text-transform: uppercase;
 }
 .paragraph_column_1, .paragraph_column_2,
 .paragraph_column_3 {
 	font-family: TrajanPro, serif;
 	font-weight: 500;
 }
 .paragraph_column_mini {
 	font-family: TrajanPro, serif;
 	font-size: 0.8em;
 	text-align: center;
 	text-indent: 15px; 
 }
/*blockquote style*/
.blockquote_block {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
#blockquote {
	width: 710px;
    font-family: TrajanPro, serif;
    text-align: center;
    margin: 0 0 0 15px;
    line-height: 27px;
    font-size: 0.95em;
    word-spacing: .3em;
    margin: 0 auto;
    text-transform: uppercase;

}
.left {
	
	font-size: 5em;
	opacity: 0.5;
	width: 10px;
	margin: auto 0;
}
.svg_left {
	position: absolute;
	height: 100px;
	width: 30px;
	left: 70px;
	top: -10px;
	opacity: 0.2;
}
.svg_right {
	position: absolute;
	height: 100px;
	width: 30px;
	left: 90%;
	bottom: 10px;
    opacity: 0.2;

}

/*style news block*/

.additional_news__container {
	width: 960px;
	height: 300px;
	margin: 70px auto 0 auto;
}
.additional_news__block_1 {
	width: 640px;
	height: 230px;
	float: left;
	font-family: Cambria, serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;

}
.additional_news__block_2 {
	width: 300px;
	height: 230px;
	float: right;
	font-family: Cambria, serif;
    font-size: 16px;
    overflow: hidden;
}


/*style list some articles*/


.list_news li {
	list-style-type: none;
	line-height: 25px;
	margin-left: 0;
}
.list_news li:before {
	content: "\29FD";
}
.list_news {
	padding-left: 0;
}

/*footer line*/
.bottom_line {
	color: #808080;
	margin-bottom: 40px;
}

/*footer legend position*/

.footer__left {
	float: left;
	width: 200px;
	height: 30px;
}
.footer_rigth_links {
	float: right;
	width: 200px;
	height: 30px;
}
.list__links li {
	display: inline-block;
}
