html {
	position: relative;
	min-height: 100%;
}
body {
	width: 1500px;
	max-width: 2200px;
	max-height: 100%;
	margin: 0 0 150px;
	background: url("../image/mainBackgroundCloud.jpg") no-repeat;
	font-size: 100%;
}
.main {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 150px; /* для подвала */
}
.header, .header__nav_container {
	height: 400px;
    width: 100%;
}

/*center alignment of the container*/
.header__nav_container {
	width: 645px;
	padding: 0;
	margin: 0 auto;
}
/*navigation style */

.list_navigation {
	padding: 0;
}
.list_navigation li {
	display: inline-block;
	font-family: RBNo2 Light, serif;
	font-size: 1.5em;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 10px;
}
.point__list {
	color: #adadac;
}
/*activisation archor navigation style*/

.archor_navigation {
	text-decoration: none;
}
.archor_navigation:link {
	color: black;
}
.archor_navigation:visited {
	color: black;
}
.archor_navigation:active {
	color: black;
	text-shadow: 2px 4px 2px grey;
}

/*styles for main logo */

.container__main_logo {
	height: 187px;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
.text__main_logo_1 {
	font-family: TrajanPro-Regular, serif;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 18px;
	letter-spacing: 4px;
	vertical-align: middle;
}
.text__main_logo_1 span {
	font-size: 0.5em;
	vertical-align: 4px;
}
.text__main_logo_2 {
	font-family: TrajanPro-Regular, serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.image__main_logo {
	opacity: 0.79;
}

/* 
style description of the sity */

.descrip_text_block {
	font-family: Calibri, serif;
	font-size: 1.2em;
	width: 700px;
	margin: 0 auto;
}
.descrip_text_block .descrip_text {
	text-align: center;
}

/*forming 3 columns*/

.conteiner__articles {
	width: 960px;
	margin: 0 auto;
}

.block__column, .block__column_mid {
    width: 300px;
    height: 700px;
    display: inline-block;
    margin: 0;
}
.block__column_mid {
	margin-right: 25px;  
	margin-left: 25px;
	
}